input{
    padding: 2%;
    margin: 10px 0;
}
button{
    padding: 10px;
}


#addTaskContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#todo-list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    height: 100%;
}

#todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(0.5);
}

#todo-meta {
    width: 50%;
}
#todo-title {
    font-size: 25px;
    font-weight: 600;
}
#todo-desc{
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

#todo-actions{
    padding: 10px;
    width: 30%;
}
#todo-actions button{
    margin-right: 5px;
}